body {
    header {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        padding: 20px;
        background-color: #333333;
        color: #ffffff;
        z-index: 11;
    }
    main {
        padding: 60px 0 0 250px;
        .customSidebar {
            width: 250px;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            padding-top: 60px;
            .customSidebar-nav {
                height: 100%;
                overflow-y: auto;
                .avatar {
                    transform: translateX(-50%);
                }
                .rs-nav-item {
                    &.active {
                        background-color: #cccccc;
                    }
                }
                .navFooter {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 250px;
                    background-color: #333333;
                    color: #ffffff;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0;
                    i {
                        margin-right: 15px;
                    }
                }
            }
        }
        .content-wrapper {
            .content-wrapper-header {
                background-color: #f2f2f2;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .content-wrapper-header-right {
                    button {
                        border-color: #333333;
                        color: #333333;
                        border-radius: 0;
                        border-width: 2px;
                        font-weight: bold;
                    }
                }
                .content-wrapper-header-left {
                    display: flex;
                    align-items: center;
                    .content-wrapper-header-left-info {
                        padding-left: 10px;
                        .content-wrapper-header-left-info-title {
                            margin-top: 0;
                            line-height: 1;
                            margin-bottom: 5px;
                        }
                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .customTabs {
                .customTabs-header {
                    display: flex;
                    a {
                        flex: 1;
                        background-color: #f2f2f2;
                        text-align: center;
                        padding: 20px;
                        color: #999999;
                        text-decoration: none;
                        &.active {
                            background-color: #ffffff;
                            color: #333333;
                        }
                    }
                }
                .customTabs-content {
                    padding: 20px;
                    .program {
                        border: 1px solid #dfdfdf;
                        margin-bottom: 20px;
                        .program-header {
                            background-color: #333333;
                            padding: 20px;
                            color: #ffffff;
                            display: flex;
                            .program-header-left {
                                flex: 1;
                            }
                            .program-header-right {
                                width: 200px;
                                button {
                                    border-color: #ffffff;
                                    color: #ffffff;
                                    border-radius: 3px;
                                    margin-top: 6px;
                                    border-width: 2px;
                                    font-weight: bold;
                                }
                            }
                        }
                        .program-content {
                            
                        }
                    }
                }
            }
        }
    }
}
.ProgramForm {
    label {
        display: block;
    }
    .rs-flex-box-grid-item {
        padding: 0 10px;
        margin-bottom: 15px;
        .rs-picker-date, .rs-picker-select {
            width: 100%;
        }
    }
    button {
        border-color: #333333;
        color: #333333;
        font-weight: bold;
        border-width: 2px;
    }
}

.customTable {
    width: 100%;
    overflow-x: auto;
    .customTable-inner {
        display: table;
        width: 100%;
        .customTable-header {
            .customTable-cell {
                background-color: #f2f2f2;
            }
        }
        .customTable-header, .customTable-group {
            display: table-row;
            .customTable-cell {
                display: table-cell;
                padding: 10px 20px;
                table {
                    td {
                        padding: 0 15px;
                        color: #cccccc;
                        font-weight: 500;
                        span {
                            color: #333333;
                        }
                    }
                }
            }
        }
    }
    .customTable-footer {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        .customTable-footer-item {
            width: 150px;
            height: 150px;
            overflow: hidden;
            padding: 10px;
            img {
                max-width: 100%;
            }
        }
    }
}

.rs-modal-content {
    padding: 2px;
    .rs-modal-header {
        padding: 10px;
        background-color: #333333;
        text-align: center;
        .rs-modal-header-close {
            color: #eeeeee;
            top: 10px;
        }
        .rs-modal-title {
            color: #f2f2f2;
        }
    }
    .rs-modal-body {
        padding: 20px;
        margin-top: 0;
        button {
            border: 2px solid;
            border-radius: 0;
            &.rs-btn-primary {
                border-color: #333333;
                background-color: #333333;
            }
            padding: 10px 30px;
        }
    }
}